In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello Developers!")

Hello Developers!

In [3]:
# numpy

lst = [1,2,3,4,5,6,7,8,9]

In [4]:
%timeit lst

26.8 ns ± 0.633 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [6]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [8]:
import numpy as np

In [11]:
arr1 = np.random.randint(5,10,size = (5,6))

arr1

array([[5, 8, 5, 5, 5, 5],
       [5, 5, 8, 6, 8, 7],
       [7, 9, 6, 8, 9, 7],
       [5, 6, 7, 6, 9, 9],
       [5, 7, 9, 7, 8, 7]])

In [7]:
!pip install panda

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from panda) (67.7.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from panda) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->panda) (3.4)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7238 sha256=2e56533b3e5ab534d5e48db8d50f7713586a746716bc6de00097fb87150d0cc4
  Stored in directory: /root/.cache/pip/wheels/0e/8b/c3/ff9cbde1fffd8071cff8367a86f0350a1ce30a8d31b6a432e9
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1

In [12]:
import pandas as pd

df = pd.DataFrame(data = arr1)

#print

df

   0  1  2  3  4  5
0  5  8  5  5  5  5
1  5  5  8  6  8  7
2  7  9  6  8  9  7
3  5  6  7  6  9  9
4  5  7  9  7  8  7